<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.material.demo.shrine">

  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Shrine">
    <activity
      android:name=".products.ProductListActivity"
      android:theme="@style/Theme.Shrine.Launcher">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".products.ItemActivity"
      android:parentActivityName=".products.ProductListActivity"
      android:theme="@style/Theme.Shrine.ItemActivity" />
    <activity
      android:name=".filters.FiltersActivity"
      android:parentActivityName="io.material.demo.shrine.products.ProductListActivity"
      android:label="@string/shrine_filter_page_title"
      android:theme="@style/Theme.Shrine.Filter"/>
  </application>
</manifest>
